/* Body and background colors */
body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.09em;
  color: #333;
  padding: 0px;
}
.background-white {
  background-color: white;
}
.background-light {
  background-color: #eee5cb;
}
.background-dark {
  background-color: #333;
  color: white;
}

/* General elements */
a:link {
  color: rgba(8,133,184,1);
}
.background-white hr, .background-light hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
  margin-top: 20px;
  margin-bottom: 20px;
}
p.filler {
  background: #BBB;
  height: 2000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.text-block {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: visible;
}
.text-block > h2 {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 0px;
}
.text-block > h3 {
  text-align: center;
}
.text-block > p:nth-of-type(1) {
  text-align: center;
  font-size: x-large;
  margin-top: 10px;
}
.columns-3 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-width: 200px;
  -moz-column-width: 200px;
  column-width: 200px;
  -webkit-column-rule: 1px solid #CCC;
  -moz-column-rule: 1px solid #CCC;
  column-rule: 1px solid #CCC;
}
.clear {
  clear: both;
}


/* Navbar */
#Navbar {
  background-color: #333;
  position: sticky;
  z-index: 1;
  top: 0px;
  width: 100%;
}
#Navbar a {
  color: white;
  text-align: center;
  vertical-align: center;
  text-decoration: none;
  padding: 15px;
}
#Navbar a:hover {
  transition: color 0.3s;
  color: gray;
}
#Navbar img {
  display: block;
  color: white;
  padding: 7px;
  margin: 0px;
  text-align: center;
}
#Navbar table {
  border-collapse: collapse;
}


/* Hi I'm Scott Fredericks section */
#Hello {
  margin-bottom: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  /* These two properties are needed for the gradients inside of Hello */
  position: relative;
  overflow: hidden;
}
.gradient1 {
  position: absolute;
  opacity: 100%;
  width: 100%;
  height: 100%;
  background-color: rgb(22,186,154);
  background: radial-gradient(circle, rgba(22,186,154,1) 26%, rgba(5,147,205,1) 100%);
  transition: opacity 0.5s ease;
}
.gradient2 {
  position: absolute;
  opacity: 0%;
  background: rgb(8,240,194);
  background: radial-gradient(circle, rgba(8,240,194,1) 26%, rgba(8,133,184,1) 100%);
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
}
#Hello:hover .gradient2{
  opacity: 100%;
}
#Hello .block {
  position: relative;
  font-size: 40px;
  font-stretch: expanded;
  margin-top: 5%;
  margin-bottom: 5%;
  border: white 10px;
  background: #777A;
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
  border: #EEEF 8px solid;
}
#Hello .block p {
  margin: 20px;
  color: #FFFA
}
#Hello .block p:nth-of-type(2) {
  color: white;
  font-family: Georgia;
  font-size: 50px;
}


/* About Me section */
#AboutMe {
  margin-top: 0px;
  padding-top: 0px;
  border: red 0px solid;
}
#AboutMe img {
  float: right;
  margin-left: 10px;
  border: 1px solid lightgray;
}


/* Experience section */
#Experience table,
#Education table {
  width: 100%;
  border-collapse: collapse;
}
#Experience table tr,
#Education table tr {
  transition: background-color 0.5s ease;
}
#Experience table tr:hover,
#Education table tr:hover {
  background-color: white;
  transition: background-color 0.5s ease;
}
#Experience table td,
#Education table td {
  vertical-align: top;
  padding-bottom: 20px;
}
#Experience table td:nth-of-type(1),
#Education table td:nth-of-type(1) {
  width: 30%;
}
#Experience table *,
#Education table * {
  margin: 5px;
  margin-bottom: auto;
}
#Experience table tr,
#Ecucation table tr {
  vertical-align: top;
}
#Experience table td:nth-of-type(1),
#Education table td:nth-of-type(1) {
  vertical-align: top !important;
}


/* Skills Section */
.skill {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color 0.3s ease;
}
.skill-title {
  float: left;
}
.skill-score {
  display: block;
  text-align: right;
}
.skill:hover {
  background-color: rgba(5,147,205,0.15);
}


/* Goals Section */
#Goals p {
  text-align: center;
}


#Contact * {
  color: white;
  text-align: center;
}
#Contact hr {
  width: 100%;
  height: 1px;
  border: none;
  color:#555;
  background-color: #555;
}

/*Change style for mobile*/
@media screen and (max-width: 800px) {
  .text-block {
    width: 70%;
  }
  #Hello .block {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 600px) {
  .text-block {
    width: 90%;
  }
  #Hello .block {
    padding-left: 0px;
    padding-right: 0px;
  }
}