<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Scott Fredericks - {{ title }}</title>
    <link rel="stylesheet" href="/css/main.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  </head>
  <body>
    {{ include "components/background_maze.html.vto" }}
    <main>
      {{ include "components/navbar.html.vto" }}
      {{ content }}
      <script src="/js/theme-toggle.js"></script>
    </main>
  </body>
</html>