---
layout: main.html.vto
---
<style>
  .experience h4, .experience h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .experience h4 .job-date {
    white-space: nowrap; /* keep the date on one line */
  }

  .experience h3 .job-location {
    white-space: nowrap; /* keep the date on one line */
  }
</style>
{{ content }}
