#background-maze-div {
  position: absolute;
  top: var(--navbar-height);
  left: 0;
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
  z-index: -1;
  overflow: hidden;
  background-color: var(--backdrop1);
  will-change: contents;
}

#background-maze-canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.8s ease;
}

#background-maze-canvas.loaded {
  opacity: 1;
  transition: opacity 0.8s ease;
}

#background-maze-div::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 10;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      to right,
      var(--background1) 0%,
      var(--backdrop2) 15%,
      var(--backdrop2) 85%,
      var(--background1) 100%
    ),
    linear-gradient(
    to bottom,
    var(--background1) 0%,
    var(--backdrop2) 0%,
    var(--backdrop2) 100%,
    var(--background1) 100%
  );
  transition: background 0.8s ease;
}
